<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ApiTestsSuite" parallel="tests" thread-count="2">

    <test name="LoginApiTests" group-by-instances="true">
        <groups>
            <run>
                <include name="api"/>
            </run>
        </groups>
        <classes>
            <class name="api.LoginAPITest"/>
        </classes>
    </test>

    <test name="TaskApiTests" group-by-instances="true">
        <groups>
            <run>
                <include name="api"/>
            </run>
        </groups>
        <classes>
            <class name="api.TaskAPITest"/>
        </classes>
    </test>

    <test name="FilterApiTests" group-by-instances="true">
        <groups>
            <run>
                <include name="api"/>
            </run>
        </groups>
        <classes>
            <class name="api.FilterAPITest"/>
        </classes>
    </test>

</suite>
